body{
    background-color: #ffffff;
    font: small-caption;
    font-weight: bold;
}
h1{
    color: #000000;
    font-size: 30px;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
}
.encabezado{
    color: #ffffff;
    text-align: center;
    background-color: #033363
}
.carrera{
    color: black;
    text-align: center;
}
.car{
    color: black;
    text-align: center;
    background-color: #dadada
}
table{
    background-color: #ffffff;
    margin: 50px;
    width: 90%;
    margin: auto;
}
.asd{
    text-align: left;
}
.rojo{
    color: red;
}
span{
    color: red;
}